{%extends "ClassMateBundle:User:index.html.twig"%}
{%block stylesheets %}
<style>
    ul.parsley-error-list li {
          color: #FFF;
          line-height: 13px;
      }
        input.parsley-error, textarea.parsley-error {
            color: #B94A48 !important;
            background-color: #D36363 !important;
            border: 1px solid #EED3D7 !important;
      }
      .course_input{
        color: #000;
      }
      .create_course_code{
        font-size: 17px;
      }
</style>
{%endblock%}
{%block container %}
    <div class="container main_container">
        <h2 class="blueH2">Create a Course</h2>
        <div style="text-align: center;">

            <form id="form" class="col-md-offset-3 col-md-6" method="POST" action="{{path('class_mate_create_course_action')}}" data-validate="parsley">
                <label class="join_label">Enter Course Name</label>
                <br>
                <input type="text" name="courseName" class="input-xlarge course_input" data-trigger="change" data-required="true">
                <br>
                <label class="join_label">Your Course ID is:</label>
                <br>
                <span class="create_course_code">{{courseCode}}</span>
                <input type="hidden" name="courseCode" value="{{courseCode}}">
                <br>
                <div>
                    <button class="btn btn-primary" type="submit" >Create Course</button>
                </div>
            </form>
        </div>
    </div>
{%endblock%}

{%block javascripts %}
    <script type="text/javascript">
        
        //Handles changing the active button in the header
        //curActive = $(".navbar-nav li.active").attr('id');
        //$("#"+curActive).attr('class', '');
        //$("#menu_user_home").attr('class', 'active');

        //Changes the page title
        document.title = "ClassMate - Create Course";
        
    </script>
{%endblock%}



    